.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0px 12px;
  @include tablet() {
    max-width: 100%;
    padding: 0px 36px;
  }
  @include mobile() {
    padding: 0px 14px;
  }
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.text-white {
  color: white !important;
}

.row {
  display: flex;
}

.hover-translateY {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-2px);
  }
}

.hover-underLine {
  transition: all 0.2s ease-in-out;
  &:hover {
    text-decoration: underline;
  }
}

.hover-float {
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 1px 1px $main-text, 2px 2px $main-text, 3px 3px $main-text;
    transform: translateX(-3px);
  }
}

.hover-float-grey {
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 1px 1px #dcdcdc, 2px 2px #dcdcdc, 3px 3px #dcdcdc;
    transform: translateX(-3px);
  }
}
