.footer {
  padding-top: 48px;
  background-color: $primary;
  .container {
    .footer-nav {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      .menu-block {
        display: flex;
        align-items: center;
        gap: 48px;
        .menu-link {
          display: inline-block;
          @include baseFont();
          transition: all 0.2s ease-in-out;
          &:hover {
            transform: scale(1.1);
            text-shadow: 2px 2px $main-text;
          }
        }
      }
      .sns-block {
        .sns-btn {
          display: inline-block;
          margin-left: 32px;
          .sns-image {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
    .footer-contact {
      .material-symbols-outlined {
        margin-right: 22px;
        @include baseFont(36px);
      }
      .tel {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        .tel-link {
          @include baseFont(36px);
        }
      }
      .email {
        display: flex;
        align-items: center;
        padding-bottom: 32px;
        border-bottom: 1px solid white;
        .email-link {
          @include baseFont(36px);
        }
      }
    }
    .footer-policy {
      display: flex;
      justify-content: space-between;
      padding: 32px 0px;
      .copyright {
        @include baseFont();
      }
      .policy {
        .policy-link {
          display: inline-block;
          margin-left: 48px;
          @include baseFont(14px);
          transition: all 0.2s ease-in-out;
          &:hover {
            transform: scale(1.1);
            text-shadow: 2px 2px $main-text;
          }
        }
      }
    }
  }
}
@include tablet() {
  .footer {
    .container {
      .footer-nav {
        .sns-block {
          .sns-btn {
            margin-left: 16px;
            .sns-image {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
@include mobile() {
  .footer {
    padding-top: 24px;
    .container {
      position: relative;
      padding: 0px 14px;
      .footer-nav {
        position: absolute;
        top: 0;
        right: 14px;
        .menu-block {
          display: none;
        }
      }
      .footer-contact {
        .material-symbols-outlined {
          margin-right: 8px;
          @include baseFont(24px);
        }
        .tel {
          .tel-link {
            @include baseFont();
          }
        }
        .email {
          .email-link {
            @include baseFont();
          }
        }
      }
      .footer-policy {
        flex-direction: column;
        gap: 8px;
        padding: 16px 0px 24px;
        .policy {
          .policy-link {
            display: block;
            margin-left: 0;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
